:root {
  --text-color-primary: #fff;
  --text-color-primary-medium: #f1f1f1;
  --text-color-secondary: #000;
  --text-color-secondary-medium: #575757;

  --color-red: #cf2e2e;
}

header {
  & .hamburger {
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--text-color-primary);
    font-size: 2.5rem;

    &[aria-expanded="true"]>.bi {
      color: var(--color-red);
    }
  }

  & a,
  .nav-link {
    text-decoration: none;

    &:focus,
    &.show,
    &.active,
    &:hover,
    &[aria-expanded="true"] {
      color: var(--color-red) !important;
    }
  }

  & .nav-link {
    color: var(--text-color-primary);

    &[aria-expanded="true"] {
      color: var(--color-red);
    }
  }

  & .dropdown-menu {
    &>li {
      background: transparent;
    }

    & a {
      color: var(--text-color-secondary-medium);
      text-decoration: none;
    }
  }
}

.carousel {

  & .carousel-indicators [data-bs-target] {
    height: 5px;
    margin-bottom: 5px;
  }

  & img {
    object-fit: cover;
    object-position: center;
  }
  & .carousel-item{
    overflow: hidden;
  }
  & .carousel-item > div{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  header {
    & .dropdown-menu {
      background: transparent;
      border: none;

      & .dropdown-divider {
        background-color: var(--text-color-primary);
      }

      & a {
        color: var(--text-color-primary);
      }

      &>li {
        background: transparent;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  header {
    & .row>div:first-child {
      width: auto;
    }
  }
}